<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST" th:action="@{/add_product}">
    <input type="text" name="title" placeholder="Название">
    <input type="number" name="cost" placeholder="Цена">
    <button class="btn btn-primary" type="submit">Добавить</button>
</form>
</body>
</html>